# @version $Id: //hosting-blueprint/CSA/main/Applications/B2CStore/cim/nonswitchCoreSchema-config/atg/dynamo/service/crypto/Cipher.properties#1 $$Change:  $
securityProviders=${LookupProvider.CSACipherSecurityProviders}
provider=${LookupProvider.CSACipherProvider}
